#productos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
    justify-content: center;
}

.tarjeta-producto{
    max-width: 300px;
    text-align: center;
    background-color:var(--color-acento-claro);
    padding: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.395);
    transition: 300ms;
}

.tarjeta-producto:hover{
    translate: 0 -10px;
    box-shadow: 0 10 5px rgba(0, 0, 0, 0.321);
}

.tarjeta-producto img{
    width: 100%;
    aspect-ratio: 1.3;
    
}