:root{
  --color-acento: #00ccd3 ;
  --color-acento-claro: #66789da0 ;
  --color-texto: rgb(243, 239, 239);
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #80808715;
}


header{
  background-color: rgb(9, 2, 49);
  box-shadow: 0 3px 5px rgba(20, 20, 20, 0.375);
  padding: 8px 0;
  margin-bottom: 15px;
}

a{
  text-decoration: none;
  color: var(--color-texto);
  font-size: 20px;
}

a:hover:not(#cart:hover){
  color: var(--color-acento) 
}

h3 p{
  margin: 10px;
}

button {
  background-color: rgb(141, 11, 69);
  color: aliceblue;
  padding: 5px 10px;
  border: unset;
  border-radius: 10px;
  cursor: pointer;
}

header nav{
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}

header nav div{
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}

#Cuenta-carrito{
  background-color: var(--color-acento);
  border-radius: 100%;
  display: inline-block;
  width: 20px;
  line-height: 20px;
  aspect-ratio: 1;
  text-align: center;
  position: absolute;
}

#logo {
  height: 100px;
  text-align: left; /* alinea el logo al centro */
}
header nav img{
  height: 40px;
}

footer{
  margin-top: 15px;
  box-shadow: 0 -3px 5px rgba(20, 20, 20, 0.13);
  text-align: center;
}

.escondido{
  display: none;
}